@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Roboto', Arial, sans-serif;
}
